<h1 style="color:#8A2BE2;">Edit Comment</h1>


  <table class="table">
    <%= form_for [@post, @comment] do |form| %>

      <div class="form-group">
      	<label>
        <p>
          <%= form.label :comments%><br>
          <%= form.text_field :comments,class: "form-control" %>
        </p>
      </div>
        </label>
        <p>
          <%= form.submit "Update",class: "btn btn-primary" %>
        </p>
    <% end %>
    </table>